<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dorohedoro.mapper.RoleMapper">
    
    <select id="selectAll" resultType="role">
        select role.id, role.role_name, group_concat(permission.id separator ',') as permissions
        from role left join permission on json_contains(role.permissions, cast(permission.id as char))
        group by role.id
    </select>
</mapper>